{% extends "app/layout.html"%}
{% block title %}
    <title>Game of life</title>
{% endblock %}

{% block body %}
    <h1>Form to initiate Game of life</h1>
    <form action="{% url 'grid' %}">
        <label for="columns">Columns:
            <input type="text" name="columns" placeholder="x"><br>
        </label>
        <br>
        <label for="rows">Rows:
            <input type="text" name="rows" placeholder="y"><br>
        </label>
        <br>
        <label for="generations">Generations:
            <input type="text" name="generations" placeholder="generations"><br>
        </label>
        <br>
        <input type="submit">
    </form>
{% endblock %}